@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

$font: 'Montserrat', sans-serif;
$nav-font_size: 10px;
$nav-font_weight: normal;

$headline-font_size: 35px;
$headline-font_weight: 700;

$subheadline-font_size: 21px;
$subheadline-font_weight: 600;

$body-font_size: 15px;
$body-font_weight: normal;

$faq-font_size: 21px;
$faq-font_weight: normal;

$accent-color: #ffb700;