@import '../../style//mediaQueries.scss';

.image-thumbnail {
  width: 100%;
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;

  @include mediaQuery(tablet) {
    width: 50%;
  }
}
  
  .mobile-bg {
    background-image: url('../../assets/Mobile-app-background.png');

    >img {
      height: 50%;
      width: auto;
    }
  }

  .desktop-bg {
    background-image: url('../../assets//Desktop-app-background.png');

    >img {
      width: 80%;
      height: auto;
    }
  }